equations:
  - name: sine
    formula: y=sin(x)
    description: Sine wave
    startTime: -1
    timeInterval: 500
    minBase: -1
    maxBase: 1
    baseSpread: 0.1
    jitter: 0.1
    calculationFunction: java.lang.Math.sin
  - name: dampedSineWave
    formula: y=2e^(-2x)sin(2*pi*x/.5)
    description: Damped sine wave
    startTime: -1
    timeInterval: 500
    minBase: 0
    maxBase: 2
    baseSpread: 0.1
    jitter: 0.1
    calculationFunction: padogrid.simulator.eq.Equations.dampedSineWave
  - name: heartbeat
    formula: y=sin(x)^63*sin(x+1.5)*8
    description: heartbeat
    timeInterval: 500
    minBase: 0
    maxBase: 2
    baseSpread: 0.05
    jitter: 0
    calculationFunction: padogrid.simulator.eq.Equations.heartbeat
    type: REPEAT
  - name: tan
    formula: y=tan(x)
    description: tan
    timeInterval: 500
    baseSpread: 0.1
    jitter: 0.1
    calculationFunction: java.lang.Math.tan
  - name: tanh
    formula: y=tanh(x)
    description: tanh
    timeInterval: 500
    minBase: 0
    maxBase: 5
    baseSpread: 0.1
    jitter: 0.5
    calculationFunction: java.lang.Math.tanh
  - name: exp
    formula: y=e^x
    description: exp
    timeInterval: 500
    baseSpread: 0.1
    jitter: 0.1
    calculationFunction: java.lang.Math.exp
  - name: circle
    formula: y=sqrt(1-x*x)
    description: circle
    timeInterval: 500
    baseSpread: 0.1
    jitter: 0.1
    calculationFunction: padogrid.simulator.eq.Equations.circle
  - name: decay
    formula: y=sqrt(1-x*x)
    description: decay
    timeInterval: 500
    minBase: 0
    maxBase: 1000
    baseSpread: 0.1
    jitter: 0.1
    calculationFunction: padogrid.simulator.eq.Equations.decay
  - name: linear
    formula: y=x+1
    description: linear
    timeInterval: 500
    baseSpread: 0.1
    jitter: 0.1
    calculationFunction: padogrid.simulator.eq.Equations.linear
  - name: quadratic
    formula: y=x^2+1
    description: quadratic
    timeInterval: 500
    baseSpread: 0.1
    jitter: 0.1
    calculationFunction: padogrid.simulator.eq.Equations.quadratic
  - name: cubic
    formula: y=x^3+x^2+x+1
    description: cubic
    timeInterval: 500
    baseSpread: 0.1
    jitter: 0.1
    calculationFunction: padogrid.simulator.eq.Equations.cubic
  - name: quartic
    formula: y=x^4+x^3+x^2+x+1
    description: quartic
    timeInterval: 500
    baseSpread: 0.1
    jitter: 0.1
    calculationFunction: padogrid.simulator.eq.Equations.quartic
  - name: quintic
    formula:  y=x^5+x^4+x^3+x^2+x+1
    description: quintic
    timeInterval: 500
    baseSpread: 0.1
    jitter: 0.1
    calculationFunction: padogrid.simulator.eq.Equations.quintic
  - name: sextic
    formula:  y=x^6+x^5+x^4+x^3+x^2+x+1
    description: sextic
    timeInterval: 500
    baseSpread: 0.1
    jitter: 0.1
    calculationFunction: padogrid.simulator.eq.Equations.sextic
  - name: septic
    formula:  y=x^7+x^6+x^5+x^4+x^3+x^2+x+1
    description: sextic
    timeInterval: 500
    baseSpread: 0.1
    jitter: 0.1
    calculationFunction: padogrid.simulator.eq.Equations.septic
  - name: octic
    formula:  y=x^8+x^7+x^6+x^5+x^4+x^3+x^2+x+1
    description: octic
    timeInterval: 500
    baseSpread: 0.1
    jitter: 0.1
    calculationFunction: padogrid.simulator.eq.Equations.octic
  - name: nontic
    formula:  y=x^9+x^8+x^7+x^6+x^5+x^4+x^3+x^2+x+1
    description: nontic
    timeInterval: 500
    baseSpread: 0.1
    jitter: 0.1
    calculationFunction: padogrid.simulator.eq.Equations.nontic
  - name: decic
    formula:  y=x^9+x^8+x^7+x^6+x^5+x^4+x^3+x^2+x+1
    description: decic
    timeInterval: 500
    baseSpread: 0.1
    jitter: 0.1
    calculationFunction: padogrid.simulator.eq.Equations.decic

publishers:        
  # MQTT
  - product: mqtt
    name: sine-publisher
    equationName: sine
    dataStructure:
      type: topic
      name: ${env:PADOGRID_TOPIC_PREFIX}/sine
    timeInterval: 500
  - product: mqtt
    name: dampedSineWave-publisher
    equationName: dampedSineWave
    dataStructure:
      type: topic
      name: ${env:PADOGRID_TOPIC_PREFIX}/dampedSineWave
    timeInterval: 500
  - product: mqtt
    name: heartbeat-publisher
    equationName: heartbeat
    dataStructure:
      type: topic
      name: ${env:PADOGRID_TOPIC_PREFIX}/heartbeat
    timeInterval: 40
  - product: mqtt
    name: tan-publisher
    equationName: tan
    dataStructure:
      type: topic
      name: ${env:PADOGRID_TOPIC_PREFIX}/tan
    timeInterval: 500
  - product: mqtt
    name: tanh-publisher
    equationName: tanh
    dataStructure:
      type: topic
      name: ${env:PADOGRID_TOPIC_PREFIX}/tanh
    timeInterval: 500
  - product: mqtt
    name: exp-publisher
    equationName: exp
    dataStructure:
      type: topic
      name: ${env:PADOGRID_TOPIC_PREFIX}/exp
    timeInterval: 500
  - product: mqtt
    name: circle-publisher
    equationName: circle
    dataStructure:
      type: topic
      name: ${env:PADOGRID_TOPIC_PREFIX}/circle
    timeInterval: 500
  - product: mqtt
    name: decay-publisher
    equationName: decay
    dataStructure:
      type: topic
      name: ${env:PADOGRID_TOPIC_PREFIX}/decay
    timeInterval: 500
  - product: mqtt
    name: linear-publisher
    equationName: linear
    dataStructure:
      type: topic
      name: ${env:PADOGRID_TOPIC_PREFIX}/linear
    timeInterval: 500
  - product: mqtt
    name: quadratic-publisher
    equationName: quadratic
    dataStructure:
      type: topic
      name: ${env:PADOGRID_TOPIC_PREFIX}/quadratic
    timeInterval: 500
    
  - product: mqtt
    name: cubic-publisher
    equationName: cubic
    dataStructure:
      type: topic
      name: ${env:PADOGRID_TOPIC_PREFIX}/cubic
    timeInterval: 500
    
  - product: mqtt
    name: quadratic-publisher
    equationName: quadratic
    dataStructure:
      type: topic
      name: ${env:PADOGRID_TOPIC_PREFIX}/quadratic
    timeInterval: 500
  - product: mqtt
    name: quartic-publisher
    equationName: quartic
    dataStructure:
      type: topic
      name: ${env:PADOGRID_TOPIC_PREFIX}/quartic
    timeInterval: 500
    
  - product: mqtt
    name: quintic-publisher
    equationName: quintic
    dataStructure:
      type: topic
      name: ${env:PADOGRID_TOPIC_PREFIX}/quintic
    timeInterval: 500  
  - product: mqtt
    name: circle-publisher
    equationName: circle
    dataStructure:
      type: topic
      name: ${env:PADOGRID_TOPIC_PREFIX}/circle
    timeInterval: 500
  - product: mqtt
    name: sextic-publisher
    equationName: sextic
    dataStructure:
      type: topic
      name: ${env:PADOGRID_TOPIC_PREFIX}/sextic
    timeInterval: 500
  - product: mqtt
    name: septic-publisher
    equationName: septic
    dataStructure:
      type: topic
      name: ${env:PADOGRID_TOPIC_PREFIX}/septic
    timeInterval: 500
  - product: mqtt
    name: octic-publisher
    equationName: octic
    dataStructure:
      type: topic
      name: ${env:PADOGRID_TOPIC_PREFIX}/octic
    timeInterval: 500
  - product: mqtt
    name: nontic-publisher
    equationName: nontic
    dataStructure:
      type: topic
      name: ${env:PADOGRID_TOPIC_PREFIX}/nontic
    timeInterval: 500
  - product: mqtt
    name: decic-publisher
    equationName: decic
    dataStructure:
      type: topic
      name: ${env:PADOGRID_TOPIC_PREFIX}/decic
    timeInterval: 500
