apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: geode-pv-claim
  namespace: default
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: manual
  volumeMode: Filesystem
  volumeName: geode-pv-volume
